
<body style="background-color: lightgray;">


<div class="container p-0" style="margin: 7%;">
<%= form_with url: "/gallery/checkout", method: :post do |f| %>
        <div class="card px-4">
            <p class="h8 py-3"><h3>Payment Details</h3></p>
            <div class="row gx-3">
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <%= f.label :first_name, class:"text mb-1" %><br />
                        <%= f.text_field :first_name, :class=>"form-control mb-3" %>
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <%= f.label :last_name, class:"text mb-1" %><br />
                        <%= f.text_field :last_name, :class=>"form-control mb-3" %>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                    <%= f.label :date_of_expiry %><br />
                            <select name="check[month]" id="check_out_month" class="btn btn-secondary btn-sm" type="button" style="width: 30%;">>
                            <option selected value="01">Janurary 
                            <option  value="02">Feburary
                            <option  value="03">March
                            <option  value="04">April 
                            <option  value="05">May 
                            <option  value="06">June 
                            <option  value="07">July 
                            <option  value="08">August 
                            <option  value="09">September 
                            <option  value="10">October 
                            <option  value="11">November 
                            <option  value="12">December 
                            </select>
                            <br/>
                            
                            <select name="check[year]" id="check_out_year" class="btn btn-secondary btn-sm" type="button" style="width: 30%;">
                            <option selected value="2022">2022
                            <option  value="2023">2023
                            <option  value="2024">2024
                            <option  value="2025">2025
                            <option  value="2026">2026
                            <option  value="2027">2027
                            <option  value="2028">2028
                            <option  value="2029">2029
                            <option  value="2030">2030
                            <option  value="2031">2031
                            <option  value="2032">2032
                            <option  value="2033">2033
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <%= f.label :credit_card_no, class:"text mb-1" %><br />
                        <%= f.text_field :credit_no, :class=>"form-control mb-3" %>
                    </div>
                </div>
                <br>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <%= f.label :verification_number, class:"text mb-1" %><br />
                        <%= f.text_field :verification_number, :class=>"form-control mb-3" %>
                    </div>
                </div>
                
                <div class="col-12">
                   
                    <div class="actions">
                        <%# <span class="fas fa-arrow-right"></span> %>
                        <%= f.submit "Pay #{number_to_currency(session[:amount])}", class:"btn btn-primary"%>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    </body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" >
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
