<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>

        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
       
        <!-- Header-->
        <div id="main">
			    <img class="d-block w-100" src="/assets/bg-slider2.jpg" alt="First slide">				    
		    </div>
        <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">Our Products</h1>
          </div>
        </div>
        <div class="row" style="padding:5%;">
          <% @books.each do |book|%>
            <div class="col-sm-3" >
              <div class="card" style="text-align: center; ">
                <div class="card-body">
                <% book.files.each do |file| %>
                  <%= image_tag file, :width=>"200px", :height=>"200px" %>
              <% end %>
                  <h5 class="card-title"><%= book.name%></h5>
                  <p class="card-text">Author :<%= book.author %></p>
                  <p class="card-text">Price :<%= book.price %></p>
                  <%= button_to 'Add to Cart',line_items_path(:store_id=>book.id),class: "btn btn-primary"%>
                </div>
              </div>
            </div>
          <% end %>
        </div>
<br>
<br>
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        
        <script src="js/scripts.js"></script>
    </body>
</html>